body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: none;

    background-color: #849d8f;
  }
  a {
    text-decoration: none;
  }
  
  .main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #849d8f;
  }

  .site-navigation,
  .user-navigation {
    list-style: none;
  }

  .user-navigation {
      background-color: #a1b4a9;
    font-weight: 400;
  }
  .site-navigation a,
  .user-navigation a {
  color: #ffffff;
  }

  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus {
  color: #000000;
  background-color: #ffffff;
}
.technology {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-image: url("../img/bg-waffles.jpg");
    background-repeat: no-repeat;

}
.technology p {
    font-size: 24px;
    font-weight: 500;
}

.list-technology {
    list-style: none;

}

.news {
    background-image: url("../img/bg-strawberry.jpg");
    background-repeat: no-repeat;
    color: #000000;
}
.news h2 {
    font-size: 16px;
    font-weight: 500;
}
.news a {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: underline;
}

.subscribe {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-image: url("../img/bg-mail.jpg")
    background-repeat: no-repeat;